html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Fira Sans", sans-serif;
  color: rgb(40, 40, 40);
  //background-color: #F9FAFB;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

nav li a {
  color: rgb(120, 120, 120);
  transition: all 0.20s ease-in-out 0s;

  &.active {
    color: rgb(40, 40, 40);
  }
}

.text-paragraph {
  font-size: 0.938em;
}